#profil{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: $space;
    border: 1px solid $color-darkest;
    background-color: white;

    @media #{$smartphone-v}{
        border: none;
    }

    & > *{ margin-left: $double-space; }
    & > :first-child{ margin-left: 0; }

    a, a:visited{
        color: $color-dark;
        border-width: 0;
        
        &:hover{
            color: $color-darkest;
        }
    }

    .container:nth-child(2){
        @media #{$smartphone-v}{
            margin-left: $space;
        }
    }

    .fa{
        @media #{$smartphone-v}{
            font-size: 1.5em;
        }
    }

    @media #{$smartphone-v}{
        ul{
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}