@charset "UTF-8";
.sticky-bottom {
  position: absolute;
  bottom: 0;
}

@keyframes beat {
  0%, 50%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  40%, 60% {
    transform: scale(1.4);
    opacity: 0.8;
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-color: black;
}

main {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 840px) {
  main {
    max-width: 960px;
    margin: 32px auto;
  }
}

h1 {
  margin: 8px 0;
  font-size: 3em;
  color: white;
}

@media screen and (max-width: 840px) and (orientation: portrait) {
  h1 {
    font-size: 1.4em;
    text-align: right;
  }
}

h2 {
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 840px) and (orientation: portrait) {
  h2 {
    margin: 0;
    font-size: 16px;
  }
}

p {
  line-height: 1.2em;
}

a, a:visited {
  color: #be0019;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s;
}

a:hover, a:visited:hover {
  color: white;
}

.category .content {
  overflow: hidden;
}

@media screen and (min-width: 840px) {
  .category .content {
    display: flex;
  }
}

.category .content .closed > * {
  display: none;
}

.category h2, .category h3 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.category h2 {
  margin: 0;
  padding: 16px;
  font-size: 1.2em;
  background-color: #0a192d;
}

.category h3 {
  padding: 16px;
  font-size: 1em;
  background-color: #0f345a;
}

.category h4 {
  margin-bottom: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.category p {
  padding-bottom: 8px;
  text-align: justify;
}

@media screen and (min-width: 840px) {
  .category .column {
    min-width: 50%;
    flex-grow: 2;
  }
}

.category .column:first-child > h3, .category .column:last-child > h3 {
  border-right: 2px solid #0a192d;
}

.category .column ul {
  display: flex;
  flex-wrap: wrap;
}

.category .column ul li {
  display: block;
  width: 100%;
  min-width: 300px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top-width: 0;
  border-bottom-width: 2px;
}

.category .column ul li:nth-child(odd) {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
}

.category .column ul li:nth-child(odd) span[class^="star-"] {
  float: right;
}

.category .column ul li:nth-child(even) {
  text-align: right;
  background-color: rgba(255, 255, 255, 0.8);
}

.category .column ul li:nth-child(even) span[class^="star-"] {
  float: left;
}

.category .column ul li .star {
  margin: 0 16px;
}

#experiences ul li:nth-child(even) {
  background-color: red;
}

#experiences ul li:nth-child(even) .content {
  flex-direction: row-reverse;
}

#experiences ul li:nth-child(even) .info {
  align-self: flex-end;
}

#experiences ul li p {
  width: 50%;
  padding: 8px 0 0;
}

#experiences .content {
  display: flex;
  flex-direction: row;
}

#profil {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0;
}

@media screen and (max-width: 840px) and (orientation: portrait) {
  #profil {
    border: none;
  }
}

#profil .social {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

#profil .social li {
  display: inline-block;
}

#profil .social a, #profil .social a:visited {
  color: #0064ff;
  border-width: 0;
  transition: color 0.5s;
}

#profil .social a:hover, #profil .social a:visited:hover {
  color: white;
}

#profil .container:first-child {
  width: 33.33%;
}

#profil .container:nth-child(2) {
  width: 66.66%;
}

@media screen and (max-width: 840px) and (orientation: portrait) {
  #profil .container:nth-child(2) {
    margin: 0 16px;
  }
}

@media screen and (max-width: 840px) and (orientation: portrait) {
  #profil .fa {
    font-size: 1.5em;
  }
}

.container {
  position: relative;
}

.container.align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heart {
  position: absolute;
  color: #ff0078;
  font-size: 1.6em;
  margin-left: 4px;
}

.heart::after {
  display: inline-block;
  content: "♥";
}

.heart:hover {
  animation: beat 1s ease-in-out 1;
}

.smile {
  position: absolute;
  color: #ffe150;
  font-size: 1.6em;
  text-shadow: 0 0 4px black;
}

.smile::after {
  display: inline-block;
  content: "☻";
}

.smile:hover {
  animation: roll 1s ease-in-out 1;
}

.star {
  position: absolute;
  color: #fcb531;
}

.star::after {
  display: inline-block;
  content: "★";
}

.star-0::before {
  display: inline-block;
  content: "";
  color: #fcb531;
  text-shadow: 1px 1px rgba(100, 0, 0, 0.5);
}

.star-0::after {
  display: inline-block;
  content: "★★★★★";
  color: rgba(0, 0, 0, 0.3);
}

.star-1::before {
  display: inline-block;
  content: "★";
  color: #fcb531;
  text-shadow: 1px 1px rgba(100, 0, 0, 0.5);
}

.star-1::after {
  display: inline-block;
  content: "★★★★";
  color: rgba(0, 0, 0, 0.3);
}

.star-2::before {
  display: inline-block;
  content: "★★";
  color: #fcb531;
  text-shadow: 1px 1px rgba(100, 0, 0, 0.5);
}

.star-2::after {
  display: inline-block;
  content: "★★★";
  color: rgba(0, 0, 0, 0.3);
}

.star-3::before {
  display: inline-block;
  content: "★★★";
  color: #fcb531;
  text-shadow: 1px 1px rgba(100, 0, 0, 0.5);
}

.star-3::after {
  display: inline-block;
  content: "★★";
  color: rgba(0, 0, 0, 0.3);
}

.star-4::before {
  display: inline-block;
  content: "★★★★";
  color: #fcb531;
  text-shadow: 1px 1px rgba(100, 0, 0, 0.5);
}

.star-4::after {
  display: inline-block;
  content: "★";
  color: rgba(0, 0, 0, 0.3);
}

.star-5::before {
  display: inline-block;
  content: "★★★★★";
  color: #fcb531;
  text-shadow: 1px 1px rgba(100, 0, 0, 0.5);
}

.star-5::after {
  display: inline-block;
  content: "";
  color: rgba(0, 0, 0, 0.3);
}

.info {
  width: 50%;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.info > div {
  box-sizing: content-box;
  height: 100%;
  display: inline-block;
  padding: 4px;
  text-align: right;
  font-size: 16px;
  background-color: white;
  line-height: 1.4em;
}

.info .left {
  padding-right: 16px;
  padding-left: 16px;
  border-right: 4px solid gray;
}

.info .right {
  width: 70%;
  padding-right: 32px;
  padding-left: 8px;
  text-align: left;
}

ul.horizontal-align {
  padding: 0 12px;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
}

ul.horizontal-align li {
  display: inline-block;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav ul li {
  width: fit-content;
  flex-grow: 2;
  text-align: left;
}

nav ul li a {
  display: inline-block;
  padding: 8px 0;
  color: #00c8ff;
}

@media screen and (min-width: 840px) {
  nav ul li a {
    padding: 16px 0;
  }
}

@media screen and (max-width: 840px) and (orientation: portrait) {
  nav ul li a {
    padding: 4px 0;
  }
}

nav ul li a:hover {
  color: white;
}

nav ul li.active a {
  color: white;
}

.profil-pic {
  margin-right: 16px;
}

.profil-pic img {
  width: 100%;
}

@media screen and (max-width: 840px) and (orientation: landscape) {
  .profil-pic img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 840px) {
  .profil-pic {
    border-radius: 8px;
  }
}

.project-icon {
  display: flex;
  width: 24px;
  height: 24px;
  float: right;
  position: relative;
  bottom: 4px;
  border: 1px solid #0f345a;
  border-radius: 4px;
  align-items: center;
  overflow: hidden;
  transition: height 2s, width 2s;
}

@media screen and (min-width: 840px) {
  .project-icon:hover {
    width: 192px;
    height: 24px;
  }
  .project-icon:hover picture {
    width: 100%;
    height: 800%;
  }
}

.project-icon picture {
  width: 100%;
  height: 100%;
  transition: height 2s, width 2s;
}

.project-icon picture > img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */