.info{
    width: 40%;
    height: fit-content;
    background-color: rgba(250, 245, 240, 0.9);

    margin-right: $demi-space;
    padding: $space;
    padding-left: $demi-space;

    font-family: $font-info;
    text-align: right;
    line-height: 1.2em;

    li{
        padding: $demi-space 0;
        border-bottom: 1px dashed $color-shadow;
        &:first-child{
            font-weight: bold;
        }
        &:last-child{
            border-bottom: none;
        }
    }
}