.info{
    width: 50%;
    height: ($space * 5);

    display: flex;
    flex-direction: row;

    > div{
        box-sizing: content-box;
        height: 100%;
        
        display: inline-block;
        padding: $quart-space;
        
        text-align: right;
        font-size: $min-font-size;
        background-color: white;
        line-height: 1.4em;
    }
    
    .left{
        // width: 30%;
        padding-right: $space;
        padding-left: $space;
        // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 10% 50%);
        border-right: 4px solid gray;
    }
    .right{
        width: 70%;
        padding-right: $double-space;
        padding-left: $demi-space;
        // clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
        text-align: left;
    }
}