nav{
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        li{
            width: fit-content;
            flex-grow: 2;
            text-align: left;
            
            a{
                display: inline-block;
                padding: $demi-space 0;
                color: $color-blue-light;
                
                @media #{$pc}{
                    padding: $space 0;
                }
                @media #{$smartphone-v}{
                    padding: $quart-space 0;
                }

                &:hover{
                    color: white;
                }
            }
            
            &.active{
                a{ color: white; }
            }
        }
    }
}