.profil-pic{
    box-sizing: content-box;
    width: 200px;
    height: 200px;

    margin: 0 auto;

    border-radius: 50%;
    border: 12px solid rgba(white, 0.8);
    box-shadow: 0 1px 2px $color-shadow;

    overflow: hidden;
    transform: translateY(-50%);

    
    img{
        width: 100%;
        height: auto;
    }
}