.profil-pic{
    margin-right: $space;

    img{
        width: 100%;
    }

    @media #{$smartphone-h}{
        img{
            width: 100%;
            height: auto;
        }
    }
    
    @media #{$pc}{
        border-radius: $demi-space;
    }
}