$space: 16px;
$demi-space: ($space / 2);
$quart-space: ($space / 4);
$double-space: ($space * 2);

$color-availible: white, gray, black;
$colors: (
    white: white,
    gray: rgb(117, 118, 119),
    black: black
);
$color-darkest: rgb(0, 10, 20);
$color-dark: rgb(6, 24, 43);
$color-red: rgb(190, 0, 25);
$color-deep-red: rgb(75, 0, 25);

$stars: (
    0: "",
    1: "✯",
    2: "✯✯",
    3: "✯✯✯",
    4: "✯✯✯✯",
    5: "✯✯✯✯✯"
);


$smartphone-size: 840px;

$pc: "screen and (min-width: "+ $smartphone-size +")";
$smartphone: "screen and (max-width: "+ $smartphone-size +")";
$smartphone-v: $smartphone + " and (orientation: portrait)";
$smartphone-h: $smartphone + " and (orientation: landscape)";

$min-font-size: 16px;