$space: 16px;
$demi-space: ($space / 2);
$quart-space: ($space / 4);
$double-space: ($space * 2);

$color-availible: white, gray, black;
$colors: (
    white: white,
    gray: rgb(117, 118, 119),
    black: black
);
$color-darkest: rgb(10, 25, 45);
$color-dark: #0f345a;
$color-red: rgb(190, 0, 25);
$color-deep-red: rgb(75, 0, 25);
$color-blue: rgb(0, 100, 255);
$color-blue-light: rgb(0, 200, 255);

$stars: (
    0: "",
    1: "★",
    2: "★★",
    3: "★★★",
    4: "★★★★",
    5: "★★★★★"
);


$smartphone-size: 840px;

$pc: "screen and (min-width: "+ $smartphone-size +")";
$smartphone: "screen and (max-width: "+ $smartphone-size +")";
$smartphone-v: $smartphone + " and (orientation: portrait)";
$smartphone-h: $smartphone + " and (orientation: landscape)";

$min-font-size: 16px;