#experiences{
    padding-left: 0;
    padding-right: 0;

    background-image: 
        url('../img/paper_texture.png'),
        linear-gradient(90deg, rgba(190, 140, 90, 0.3) 110px, rgba(100, 60, 60, 0.6) 111px, transparent 112px);

    box-shadow: 0 2px 4px $color-shadow, 0 $space ($double-space * 4) $color-shadow, 0 -2px 4px $color-shadow;

    .column>ul{
        &>li{
            display: flex;
            margin-bottom: $double-space;

            & > *{
                border-radius: $space;
                box-shadow: 0 1px 2px $color-shadow;
                background-color: rgba(white, 0.8);
            }
            
            & > div{
                width: 60%;
                padding: $space;

                h4{
                    margin-bottom: $space;
                    padding-bottom: $space;
                    border-bottom: 1px solid rgba(black, 0.3);    
                }
            }
        }
    }
}